.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #445e48;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #8a2d2d;
}

p {
  font-size: 2rem;
  color: #000000;
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #6ab863;
  color: rgb(0, 0, 0);
  font-weight: 700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

footer {
  margin-top: 3%;
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
}
